<div class="col-12 flex align-center">
    <div class="icon-section-wrapper">
        <div class="icon-section-content">
            <div class="icon-section icon-section-operators">
            </div>
        </div>
    </div>
    <h2 class="crypto-title font-heavy" >
        Operate
    </h2>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12 short-chain-desc">
                <p>Process your chain, and start serving <span class="product-name">Firehose</span> data now.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12">
                <h4 class="sub-section-title-large"><a href="/operate/concepts">Concepts & Architecture</a></h4>
                <p>Understanding how the entire Firehose stack works from data extraction, storage and data artifacts to internal flow of data and API serving.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12">
                <h4 class="sub-section-title-large"><a href="/operate/guides">Syncing Guides & Cookbooks</a></h4>
                <p>Various guides and recipes for syncing and operating the Firehose stack for your chain of choice.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12">
                <h4 class="sub-section-title-large"><a href="/operate/reference">Reference Materials & Specs</a></h4>
                <p>Detailed technical specifications and reference materials.</p>
            </div>
        </div>
    </div>
</div>
