<!--  section Ethereum   -->
<div class="col-12 flex align-center">
    <div class="icon-section-wrapper">
        <div class="icon-section-content">
            <div class="icon-section icon-section-integrators">
            </div>
        </div>
    </div>
    <h2 class="crypto-title font-heavy" >
        Integrators
    </h2>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12 short-chain-desc">
                <p>Make your chain <span class="product-name">Firehose</span>-ready now.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12">
                <h4 class="sub-section-title-large"><a href="/integrators/walkthrough">Walkthrough Sample Integration</a></h4>
                <p>How to integrate the Firehose into a new chain.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="container sub-section">
        <div class="row sub-section-title-row-noborder">
            <div class="col-12">
                <h4 class="sub-section-title-large"><a href="/integrators/resources">Resources</a></h4>
                <p>Collection of pointers to existing Firehose integrations codebases as well as design discussion about some alternatives way to have a Firehose integration</p>
            </div>
        </div>
    </div>
</div>
